.acquaintance {
  background-color: #ffffff;

  & .title {
    color: #212529;
    text-align: center;
    line-height: 1;
    text-transform: none;
    margin-bottom: 32px;

    @media(min-width: $tableWidth) {
      margin-bottom: 68px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    height: 243px;

    @media(min-width: $tableWidth) {
      margin-bottom: 0;
      margin-right: 30px;
      height: 207px;
    }

    @media(min-width: $maxContent) {
      margin-right: 50px;
      height: 285px;
    }
  }

  &__img img{
    height: 100%;
  }

  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media(min-width: $tableWidth) {
      flex-direction: row;
    }
  }

  &__dist {
    max-width: 320px;
    margin: 0 auto;

    @media(min-width: $tableWidth) {
      max-width: 440px;
      margin: 0;
    }

    @media(min-width: $maxContent) {
      max-width: 530px;
    }
  }

  &__dist-title {
    font-size: 23px;
    line-height: 1.25;
    margin-bottom: 24px;
    font-weight: normal;
    text-align: center;

    @media(min-width: $tableWidth) {
      text-align: left;
    }
  }

  &__dist-text {
    margin-bottom: 36px;
  }

  &__dist-text-p {
    color: #4c4b4b;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .textAlignCenter{
    text-align: center;

    @media(min-width: $tableWidth) {
      text-align: left;
    }
  }

  &__link {
    color: #ef5b4c;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #d24335;
    }
  }
}