.intro {
   padding: 75px 0;
   background-image: url("../../assets/img/banner-photo.jpg");
   background-position: center;
   background-size: cover;

   @media(min-width: $tableWidth) {
      padding: 65px 0;
   }

   @media(min-width: $maxContent) {
      padding: 100px 0;
   }

   & .container {
      height: inherit;
   }

   &__inner {
      height: inherit;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 320px;
      margin: 0 auto;

      @media(min-width: $tableWidth) {
         max-width: 420px;
         align-items: flex-start;
         margin: 0;
      }

      @media(min-width: $maxContent) {
         max-width: 540px;
      }
   }

   &__inner .title{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.13;

      @media(min-width: $tableWidth) {
         text-align: left;
         line-height: 1.1;
         margin-bottom: 35px;
      }

      @media(min-width: $maxContent) {
         line-height: 1.08;
      }
   }

   &__inner .intro__text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 39px;
      text-align: center;

      @media(min-width: $tableWidth) {
         text-align: left;
         -webkit-line-clamp: 6;
      }

      @media(min-width: $maxContent) {
         text-align: left;
         -webkit-line-clamp: 5;
      }
   }
}