html,body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p,h1,h2,h3,h4,h5,li,ul,menu {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.container {
  max-width: $maxContent;
  margin: 0 auto;
  padding: 0 15px;

  @media(min-width: 768px) {
    padding: 0 30px;
  }

  @media(min-width: 1200px) {
    padding: 0;
  }

  &__wide {
    max-width: $maxWidth;
    margin: 0 auto;
  }
}

.mg-top {
  margin-top: 45px;

  @media(min-width: 768px) {
    margin-top: 60px;
  }
}

.title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 1.08;
  font-weight: normal;

  @media(min-width: 768px) {
    font-size: 40px;
  }

  @media(min-width: 1200px) {
    font-size: 50px;
  }
}

.sing__button {
  width: max-content;
  padding: 10px 59px;
  border-radius: 4px;
  background-color: #ef5b4c;
  color: #fefefe;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #d24335;
  }
}

.boxPadding {
  padding: 80px 0;

  @media(min-width: $tableWidth) {
    padding: 120px 0;
  }

  @media(min-width: $maxContent) {
    padding: 160px 0;
  }
}